.containerCourses{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 20px;
	row-gap: 20px;
	margin-top: 30px;
}
.cardCourse{
	background: var(--light);
	border-radius: 2px;
	display: grid;
	grid-template-areas: 
	"img img"
	"title title"
	"info boxButtoms";
	align-items: center;
	justify-content: center;
	justify-items: center;
	width: 400px;
	overflow: hidden;
	padding-bottom: 10px;
}

.cardCourse__img{
	display: block;
	object-fit: cover;
	width: 400px;
	height: 200px;
	grid-area: img;
	border-radius: 5px 5px 0 0;
}
.cardCourse__title{
	grid-area: title;
	margin-left: 20px;
	font-size: 18px;
	width: 100%;
	margin-top: 10px;
}
.cardCourse__info{
	grid-area: info;
	margin-left: 20px;
	color: var(--littleDark);
}
.list__actions{
	grid-area: boxButtoms;
	width: 240px;
}

@media (max-width: 410px){
	.cardCourse{
		width: 95%;
	}
	.cardCourse__img{
		object-fit: cover;
		width: 150%;
	}
	.cardCourse .list__actions{
		width: 100%;	
	}
	.cardCourse{
		grid-template-areas: 
		"img"
		"title"
		"info"
		"boxButtoms";
	}
	.cardCourse__info{
		margin-left: 20px;
		text-align: left;
		width: 100%;
	}
}

@media (max-width: 310px){
	.cardCourse__img{
		object-fit: cover;
		width: 100%;
	}
}



/*Detalles del curso*/
.descriptionBanner{
	width: 90%;
	margin: auto;
	background: var(--light);
	padding: 20px 0;
	padding-left: 20px;
	display: flex;
	flex-flow: column;
	row-gap: 20px;
}
.descriptionBanner__nav{
	display: flex;
	column-gap: 20px;
}

.descriptionBanner__item, .collapse__icon{
	padding: 10px;
	padding-bottom: 5px;
	color: var(--littleDark);
	border-bottom: 2px solid transparent;
	cursor: pointer;
}
.collapse__icon{
	padding: 10px;
	padding-bottom: 5px;
	color: var(--text);
	border-bottom: 2px solid transparent;
	cursor: pointer;
}
.descriptionBanner__item--checked{
	color:var(--text);
	border-bottom: 2px solid var(--primary);
}

.introduction{
	text-align: justify;
	max-width: 90%;
	padding-left:30px;
}

.smallInformation{
	max-width: 90%;
	margin: 5px 0;
	margin-left: 10px;
}
.smallInformation__title{
	font-size: 16px;
	margin: 10px 0;
}
.smallInformation__title--second{
	margin-top: 40px;
}
.tableInformation{
	max-width: 90%;
	margin: 5px 0;
	margin-left: 10px;
	display: flex;	
}
.tableInformation__img{
	object-fit: contain;
	width: 50px;
	display: block;
}

/*Modules*/
.containerModules{
	display: flex;
	flex-flow: column;
	row-gap: 20px;
	padding: 20px 0;
	transition: all .5s;
	animation: moverArriba .5s;
}
.containerModules--hidden{
	display: none;
	transition: all .5s;
}
.expandContent{
	cursor: pointer;
}
.boxExpand{
	cursor: pointer;
}

.cardModule{
	display: grid;
	grid-template-areas: 
	"id title title title"
	"id item1 item2 list";
	background: var(--light);
	margin: auto;
	grid-column-gap: 40px;
	align-items: center;
	padding: 10px 20px;
	border-radius: 5px;
}

.cardModule--student-block{
	min-width: 600px;
	background: var(--background);
}

.cardModule--finished{
	background: var(--primary);
	background-image: url('../../img/course/starts.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom right;
}
.cardModule--finished:hover{
	transition: all .5s;
	background-position: bottom right;
}
.cardModule--finished span, 
.cardModule--finished .cardModule__item,
.cardModule--finished .cardModule__title{
	color: var(--light);
}

.cardModule__number{
	grid-area: id;
	font-weight: 700;
	font-family: "roboto", sans-serif;
	font-size: 20px;
	padding: 10px;
	color: var(--primary);
}
.cardModule__title{
	grid-area: title;
	font-size: 20px;
}
.cardModule__item{
	color: var(--littleDark);
}
.cardModule__item--note{
	grid-area: item1;
}

.cardModule__item--question{
	grid-area: item2;
}
.list__actions--course{
	grid-area: list;
	width: 320px;
}
.bar{
	margin: auto;
	background: var(--littleDark);
	width: 2px;
	height: 30px;
}
.iconBlockCourse{
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
}

/*Media queries - CARDMODULE*/
@media (max-width: 900px){
	.cardModule{
		grid-template-areas: 
		"id title title"
		"id item1 item2"
		"list list list";
		width: 90%;
		row-gap: 10px;
	}
	.cardModule .list__actions{
		width: 100%;
		padding: 0;
		gap: 2px;
		margin: 0;
	}
}
@media (max-width: 700px){
	.cardModule--student-block{
		min-width: inherit;
		width: 90%;
		margin: auto;
	}
}
@media (max-width: 450px){
	.cardModule{
		padding: 10px;
		grid-template-areas: 
		"id title"
		"id item1"
		"id item2"
		"list list";
		grid-template-columns: 30px 1fr;
		width: 96%;
	}
	.cardModule__title{
		font-size: 18px;
	}
}



/*BottonEnds*/
.bottonEnd{
	display: flex;
	flex-flow: column;
	gap: 5px;
	margin-top: 16px;
}
.bottonEnd__text{
	text-align: center;
	max-width: 400px;
	min-width: 200px;
	margin: auto;
	padding: 8px 0;
	outline: none;
	border-radius: 2px;
	border: 3px solid transparent;
	background: rgba(50, 50, 50, .5);
	color: var(--light);
	cursor: inherit;
}
.bottonEnd__text--contrast{
	background: var(--tertiary);
	cursor: pointer;
}
.bottonEnd a{
	cursor: inherit;
}


/*Notes*/
.cardNoteContent{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	margin: 30px 0;
}
.cardNote{
	display: grid;
	grid-template-areas: 
	"numberNote titleNote"
	"descriptionNote descriptionNote"
	"actionButtonNote actionButtonNote";
	background: var(--light);
	width: 400px;
	border-top: 3px solid var(--primary);
	border-radius: 3px;
	padding: 20px 10px;
	row-gap: 20px;
	position: relative;
}
.cardNote__content{
	position: relative;
	z-index: 1;
	background: var(--light);
	padding-right: 5px;
}
.cardNote__img{
	position: absolute;
	width: 100%;
	height: 100px;
	object-fit: cover;
	z-index: 0;
}
.cardNote__number{
	grid-area: numberNote;
	background: var(--primary);
	color: white;
	padding: 8px;
	border-radius: 2px 0 0 2px;
	display: inline-block;
	font-weight: 700;
	font-size: 20px;
}
.cardNote__title{
	font-size: 20px;
	grid-area: titleNote;
	display: inline-block;
}
.cardNote__description{
	grid-area: descriptionNote;
	width: 90%;
	margin: auto;
	margin-top: 50px;
	font-weight: 700;
}
.list__actions--module{
	grid-area: actionButtonNote;
	width: 420px;
}



/*Question*/
.cardQuestionContent{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	margin: 30px 0;
}

.cardQuestion{
	display: flex;
	flex-flow: column;
	width: 420px;
	background: var(--light);
	border-top: 3px solid var(--primary);
	border-radius: 3px;
	padding: 20px 10px;
	row-gap: 20px;
}

.cardQuestion__number{
	background: var(--primary);
	color: white;
	padding: 8px;
	border-radius: 2px 0 0 2px;
	font-size: 20px;
	display: inline;
}
.cardQuestion__contentMiniCard{
	display: flex;
}
.cardQuestion__super-text{
	font-size: 20px;
	display: inline;
	background: var(--tertiary);
	color: white;
	padding: 8px;
	border-radius: 0 2px 2px 0;
}
.cardQuestion__ask{
	font-size: 18px;
	text-align: center;
}
.list__actions--question{
	width: 100%;
}
.cardQuestion__contentAnswer{
	display: flex;
	flex-flow: column;
	row-gap: 5px;
}

.cardQuestion__answer{
	padding: 10px;
	background: var(--littleDark);
	border-radius: 2px;
	color: var(--light);
	font-weight: 700;
}
.cardQuestion__answer--true{
	background: var(--success);
}



/*cardNote*/
@media (max-width: 450px){
	.cardNote{
		width: 90%;
	}
	.list__actions--module{
		width: 100%;
	}
}


/*cardNote*/
@media (max-width: 450px){
	.cardQuestion{
		width: 90%;
	}
	.cardQuestion__number, .cardQuestion__super-text{
		font-size: 16px;
	}
}