.grid-one{
	display: flex;
	flex-flow: column;
}
.grid-two{
	display: flex;
	justify-content: center;
}
.form__content{
	max-width: 500px;
	background: var(--light);
	margin: 30px auto;
	padding: 25px 0;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(10, 10, 10, .2);

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(8, max-content);
}
.form__content--big{
	max-width: 900px;
}

.form__icon, .form__title{
	font-size: 30px;
	text-align: center;
	color: var(--primary);
	margin: 2.5px 0;
}
.form__icon .hidden{
	display: none;
}

.form__item{
	padding: 2px 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, max-content);
	width: 45%;
	margin: 10px auto;
	border-radius: 2px;
	max-width: 400px;
}
.form__item--big{
	padding: 0 20px;
	min-width: 100%;
}
.form__item--small{
	width: 80%;
}
.form__item--toggle{
	display: flex;
}
.form__item--hidden{
	display: none;
}
.form__view-Term{
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	color: var(--primary);
}
.form__input, .form__textarea{
	max-width: 400px;
	margin: 5px 0;
	padding: 8px 0 5px 10px;
	border: none;
	border-bottom: 2px solid var(--primary);
	border-radius: 2px;
	outline: none;
	background: #e5e9f0;
}
.form__input--big{
	min-width: 100%;
}
.form__input--checkbox{
	width: 20px;
	border: 2px solid #e5e9f0;
}
.form__input:focus{
	background: #d8dee9;
}
.form__input--errorField{
	border: 2px solid var(--danger);
}
.form__input--successField{
	border: 2px solid var(--primary);
}
.form__input--disabled{
	background: #c5cedd;
	border: 2px solid transparent;
	color: var(--text);

	max-width: 400px;
	margin: 5px 0;
	padding: 8px 0 5px 10px;
	border-radius: 2px;
	outline: none;
}
.form__input--select{
	max-width: 400px;
	margin: 5px 0;
	padding: 8px 0 5px 10px;
	border: none;
	border-bottom: 2px solid var(--primary);
	border-radius: 2px;
	outline: none;
	background: #e5e9f0;
}
.mult-select-tag .body{
	max-width: 400px;
	margin: 5px 0;
	padding: 8px 0 5px 10px;
	border: none;
	border-bottom: 2px solid var(--primary);
	border-radius: 2px;
	outline: none;
	background: #e5e9f0;
}
.form__item--hidden{
	display: none;
}

.form__textarea{
	resize: none;
	padding: 10px;
}
.form__file{
	display: none;
}
.labelFile{
	border-radius: 2px;
	cursor:pointer;
	margin-top: .5em;
	display: flex;
}
.labelFile__input{
	width: 80%;
	border-bottom: 2px solid var(--primary);
	background: #e5e9f0;
	padding: 10px;
	border-radius: 2px;
	border-radius: 2px 0 0 2px;
}
.labelFile__text{
	width: 20%;
	text-align: center;
	background: var(--primary);
	color: var(--light);
	padding: 10px;
	border-radius: 0 2px 2px 0;
}


.form__send{
	max-width: 400px;
	min-width: 200px;
	margin: auto;
	margin-top: 20px;
	padding: 8px 0;
	outline: none;
	border-radius: 2px;

	background: transparent;
	border: 2px solid var(--primary);
	color: var(--text);
}
.form__send:hover{
	transition: all ease .5s;
	box-shadow: 1px 1px 8px rgba(10, 10, 10, .4);
	cursor: pointer;
	background: var(--primary);
	border: 2px solid transparent;
	color: var(--light);
}
.form_send--disabled{
	background: #c5cedd;
	border: 2px solid transparent;
	color: var(--text);
}
.form_send--disabled:hover{
	box-shadow: 1px 1px 8px rgba(10, 10, 10, .0);
	cursor: inherit;
	background: #c5cedd;
	border: 2px solid transparent;
	color: var(--text);
}

.form__eye{
	cursor: pointer;
	font-size: 20px;
	justify-self: end;
	color: var(--primary);
}

.option--disabled{
	color: green;
}

/*Toggle btn*/
.button-box{
	width: 310px;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;
	background: #eceff4;
}

.toggle-btn{
	padding: 10px 40px;
	cursor: pointer;
	background: transparent;
	border: 0;
	position: relative;
	text-align: center;
}
.toggle-btn--checked{
	color: var(--light);
}
.button-box--course{
	width: 260px;
	margin: 35px auto;
	display: flex;
	justify-content: space-around;
}
.toggle-btn--course{
	width: 120px;
	padding: 10px;
}
.buttonCourse{
	margin-right: 50px;
	display: block;
}
.toggle-next{
	margin: auto;
	border-radius: 30px;
	width: 200px;
	background: #eceff4;
}
.toggle-next__button{
	width: 200px;
	padding: 10px 40px;
	cursor: pointer;
	border: 0;
	text-align: center;
	border-radius: 30px;
	background: var(--primary);
	color: var(--light);
}
.toggle-next__button--hidden{
	display: none;
}
.toggle-next__button--contrast{
	background: transparent;
	color: var(--text);
}

#btn{
	left: 0;
	top: 0;
	position: absolute;
	width: 155px;
	height: 100%;
	background: var(--primary);
	border-radius: 30px;
	transition: .5s;
}
#btn--course{
	left: 0;
	top: 0;
	position: absolute;
	width: 130px;
	height: 100%;
	background: var(--primary);
	border-radius: 30px;
	transition: .5s;
}
#btn--course--checked{
	left: 130px;
	top: 0;
	position: absolute;
	width: 130px;
	height: 100%;
	background: var(--primary);
	border-radius: 30px;
	transition: .5s;
}
.inputHidden{
	visibility: hidden;
}

/*Media queries - form*/
@media (max-width: 520px){
	.form__content{
		width: 90%;
	}
}

/*Media queries - form*/
@media (max-width: 500px){
	.button-box{
		max-width: 300px;
	}
	#btn{
		width: 150px;
	}
}

/*Media queries - form*/
@media (max-width: 500px){
	.button-box{
		max-width: 250px;
	}
	.toggle-btn{
		padding: 10px 30px;
	}
	#btn{
		max-width: 125px;
	}
}

/*Media queries - form*/
@media (max-width: 550px){
	.form__content--big{
		width: 98%;
		margin: 20px auto;
	}
	.grid-two{
		flex-flow: column;
		justify-content: center;
	}
	.form__item{
		width: 90%;
	}
}


/*Formulario para buscar*/
.form__search{
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	column-gap: 10px;
}
.search_container{
	display: grid;
}

.button-search{
	width: 70px;
	padding: 8px 0;
	outline: none;
	border-radius: 2px;

	background: transparent;
	border: 2px solid var(--primary);
	color: var(--text);
}
.button-search:hover{
	transition: all ease .5s;
	cursor: pointer;
	background: var(--primary);
	border: 2px solid transparent;
	color: var(--light);
}

.form__message-error{
	font-weight: 700;
	color: var(--danger);
}

/*Media queries - Globales*/
@media (max-width: 861px){
	.form__search{
		width: 90%;
		margin: auto;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		margin-top: 50px;
		column-gap: 10px;
	}
}
@media (max-width: 450px){
	.labelFile__text{
		width: 30%;
	}
}
@media (max-width: 400px){
	.form__icon, .form__title{
		font-size: 22px;
	}
}





/*Input Checkbox ROLES*/
.form_checkbox{
	padding-left: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 25px;
}
.form__subtitle{
	width: 100%;
	font-size: 20px;
}
.boxCheckbox{
	margin-top: 10px;
	height: 150px;
	width: 160px;
	position: relative;
}
.input__checkbox{
	-webkit-appearance: none;
	position: relative;
	height: 100%;
	width: 100%;
	background: #e5e9f0;
	border-radius: 10%;
	border: 3px solid transparent;
	outline: none;
	box-shadow: 15px 15px 25px rgba(2, 28, 53, 0.05);
}
.input__checkbox::after{
	position: absolute;
	content: '\f111';
	font-family: "Font Awesome 6 free";
	font-weight: 400;
	font-size: 20px;
	top: 10px;
	left: 10px;
	color: var(--light);
}

.input__checkbox:hover{
	transform: scale(1.08);
}

.labelTitle{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	height: 80%;
	width: 100%;
	position: absolute;
	bottom: 0;
	cursor: pointer;
}

.labelTitle i{
	font-size: 30px;
}
.labelTitle_text{ 
	font-size: 20px;
}
.boxCheckbox input[type="checkbox"]:checked + .labelTitle .labelTitle_text,
.boxCheckbox input[type="checkbox"]:checked + .labelTitle i,
.boxCheckbox input[type="radio"]:checked + .labelTitle .labelTitle_text,
.boxCheckbox input[type="radio"]:checked + .labelTitle i{
	color: var(--primary);
}

.boxCheckbox input[type="checkbox"]:checked:after,
.boxCheckbox input[type="radio"]:checked:after{
	content: '\f058';
	color: var(--primary);
}

.boxSpaceValues{
	padding: 2px 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, max-content);
	width: 45%;
	margin: 10px auto;
	border-radius: 2px;
	max-width: 400px;
}
.spaceValues{
	max-width: 400px;
	margin: 5px 0;
	padding: 8px 8px 5px 10px;
	border: none;
	border-radius: 2px;
	outline: none;
	background: #e5e9f0;
	height: 200px ;
	row-gap: 5px;
	display: flex;
	flex-flow: column;
	justify-items: center;
	overflow-y: scroll;
}
.spaceValue__item{
	display: flex;
	align-items: center;
	column-gap: 5px;
	background: var(--tertiary);
	padding-left: 5px;
	border-radius: 2px;
}
.spaceValue__item p, .spaceValue__item i{
	color: var(--light);
}
.spaceValue__item p{
	width: 100%;
	height: 40px;
	white-space: nowrap;
	overflow-x: scroll;
}
.spaceValue__item i{
	background: var(--danger);
	height: 100%;
	padding: 5px;
	line-height: 30px;
}
.gridEnabled{
	display: flex;
	column-gap: 10px;
}

/*Media queries - Header*/
@media (max-width: 550px){
	.boxCheckbox{
		height: 100px;
		width: 120px;
	}
	.labelTitle i{
		font-size: 25px;
	}
	.labelTitle_text{ 
		font-size: 14px;
		font-weight: 400;
	}
}