.containerHeader{
	width: 90%;	
	margin: auto;
	position: relative;
	overflow: hidden;
	min-height: 460px;
	margin-top: 10px;
}

.sabana{
	background: rgb(0,0,0);
	box-shadow: 0 0 5px rgba(10, 10, 10, .3);
	background: linear-gradient(90deg, rgba(0,0,0,.9) 0%, rgba(24,24,24,.7) 48%, rgba(150,150,150,0) 100%); 
	margin: auto;
	border-radius: 2px;
	width: 100%;	
	min-height: 460px;
	
	position: absolute;
	left: 0;
	top: 0;	
}

.headerBackground__img{
	object-fit: cover;
	width: 100%;	
	min-height: 460px;
	
	position: absolute;
	left: 0;
	top: 0;	
}

.headerBackground{
	width: 100%;
	min-height: 460px;

	position: absolute;
	left: 0;
	top: 0;

	display: flex;
	flex-flow: column;
	justify-content: space-around;
}
.headerBackground__information{
	max-width: 600px;
	display: flex;
	flex-flow: column;
	row-gap: 25px;
	border-radius: 5px;
	margin-left: 50px;
	padding: 20px;
}

.headerBackground__title{
	font-size: 30px;
	max-width: 700px;
	color: var(--light);
	text-shadow: 2px 2px 2px rgba(10, 10, 10, 1.0);
}

.headerBackground__description{
	max-width: 700px;
	font-size: 20px;
	color: var(--light);
	text-shadow: 2px 2px 2px rgba(10, 10, 10, 1.0);
}
.headerBackground__buttons{
	max-width: 700px;
	display: grid;
	grid-template-columns: repeat(2, max-content);
	justify-content: center;
	grid-column-gap: 20px;
}

.descriptionContent{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: var(--light);
}


/*Media queries - Header*/
@media (max-width: 700px){
	.containerHeader{width: 100%;}
	.headerBackground__information{
		max-width: 350px;
		margin-left: 10px;
	}
}

@media (max-width: 450px){
	.headerBackground__buttons{
		grid-template-columns: repeat(1, max-content);
		grid-column-gap: 0;
		row-gap: 20px;
	}
}