.header__background--teacher{
	background: url("../../img/teacher/wallpaper.jpeg");
}
.header__background--admin{
	background: url("../../img/administrator/wallpaper.jpeg");
}
.header__background--student{
	background: url("../../img/student/wallpaper.jpg");
}

.header__background{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 90%;	
	margin: auto;
}
.header__background--login{
	background: url("../../img/login/wallpaper.jpeg");	
}


.header{
	background: rgba(10, 10, 10, .5);
	box-shadow: 0 0 5px rgba(10, 10, 10, .2);
	margin: auto;
	margin-top: 10px;
	border-radius: 2px;
	width: 100%;	
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(2, max-content);
	justify-content: center;
	align-items: center;
	column-gap: 30px;
	min-height: 460px;
}
.header__img{
	object-fit: cover;
	display: block;
	width: 256px;
}
.header__information{
	display: grid;
	grid-template-rows: repeat(3, max-content);
	grid-template-columns: max-content;
	grid-row-gap: 20px;
}
.header__title{
	text-align: center;
	font-size: 30px;
	max-width: 700px;
	color: var(--light);
	text-shadow: 2px 2px 2px rgba(10, 10, 10, 1.0);
}
.header__bottons{
	display: grid;
	grid-template-columns: repeat(2, max-content);
	justify-content: center;
	grid-column-gap: 20px;
}
.header__loginItem{
	text-align: center;

	max-width: 400px;
	min-width: 200px;
	margin: auto;
	padding: 8px 0;
	outline: none;
	border-radius: 2px;

	border: 3px solid transparent;
	background: rgba(50, 50, 50, .5);
	color: var(--light);
	cursor: pointer;
}
.header__loginItem:hover{
	transition: all ease .5s;
	box-shadow: 1px 1px 8px rgba(10, 10, 10, .4);
	background: rgba(70, 70, 70, .6);
}
.header__loginItem--contrast{
	background: var(--primary);
	border: 3px solid transparent;
	color: var(--light);
}
.header__loginItem--delete{
	background: var(--danger);
	cursor: pointer;
}
.header__loginItem--delete:hover{
	background: #e05964;
}
.header__loginItem--contrast:hover{
	transition: all .5s;
	background: #32ccc6;
}
.header__scienceContainer{
	width: 100%;
	height: 100%;
	display: grid;
	background: var(--light);
	grid-template-columns: repeat(3, max-content);
	padding: 10px 0;
	justify-content: center;
	align-items: center;
	grid-column-gap: 20px;
}
.header__scienceItem{
	font-size: 20px;
	color: var(--primary);
	padding: 10px;
}
.header__scienceItem i{
	margin-right: 7px;
}
/*Final del header*/


/*Contenedor*/
.color-Text{
	color: var(--primary);
	font-weight: 700;
}
.container{
	width: 90% ;
	margin: auto;
}
.article{
	background: #eceff4;
	padding: 50px 0;
	border-bottom: 3px solid #d2d1d1;
}
.tab{
	display: grid;
	grid-template-columns: repeat(2, minmax(100px, max-content));
	justify-content: center;
	align-items: center;
	column-gap: 50px;
	padding: 0 25px;
	min-height: 270px;
}
.tab__subtitle{
	font-weight: 700;
}
.tab__title--centered{
	text-align: center;
}
.tab__img--reverse{
	order: 1;
}
.tab__information{
	display: grid;
	grid-template-rows: repeat(2, max-content);
	grid-row-gap: 25px;
	max-width: 500px;
}
.tab__img{
	display: block;
	object-fit: cover;
	width: 160px;
}
.tab__description, .love-middle__description{
	text-align: justify;
}
.tab__content{
	display: grid;
	row-gap: 20px;

}
.tab__description--list{
	list-style: inherit;
}
.tab__iconsDescription{
	display: flex;
	gap: 20px;	
}


/*Contaniner - love-middle*/
.love-middle{
	display: grid;
	grid-template-areas: 
	"title title  title"
	"title title  title"
	"efectivo img  motivado"
	"sencillo img  divertido";
	grid-row-gap: 10px;
	grid-column-gap: 30px;
	justify-content: center;
	align-items: center;
}

.love-middle__titleMain{
	grid-area: title;
	text-align: center;
	margin-bottom: 40px;
}
.love-middle__information{
	padding: 10px 20px;
	display: grid;
	grid-row-gap: 5px;
	max-width: 400px;
}
.love-middle__information:nth-child(2){grid-area: efectivo;}
.love-middle__information:nth-child(3){grid-area: sencillo;}
.love-middle__information:nth-child(4){grid-area: motivado;}
.love-middle__information:nth-child(5){grid-area: divertido;}
.love-middle__img{
	grid-area: img;
	display: block;
	width: 200px;
}

.love-middle__title{
	font-size: 20px;
}
.love-middle__title i{
	margin-right: 10px;
}
.love-middle__information:nth-child(2) i{color: #ff9600;}
.love-middle__information:nth-child(3) i{color: #49ae4e;}
.love-middle__information:nth-child(4) i{color: #ff4b4b;}
.love-middle__information:nth-child(5) i{color: #9069cd;}


/*Media queries - Header*/
@media (max-width: 1140px){
	.header{
		display: grid;
		grid-template-rows: repeat(2, max-content);
		grid-template-columns: minmax(100px, max-content);
		justify-content: center;
		align-items: center;
		column-gap: 0;
		grid-row-gap: 20px;
		min-height: 460px;
		padding: 50px 0 20px 0;
	}	
	.header__img{
		margin: auto;
	}
	.header__title{
		width: 100%;
		padding: 0 20px;
	}
	.header__information{
		grid-template-rows: 1fr max-content;
		grid-template-columns: minmax(10px, max-content);
	}

}

/*Media queries - Header*/
@media (max-width: 700px){
	.header__background{width: 100%;}
	.container{width: 100% ;}
	.header{margin-top: 0;}
	.header__img{
		width: 200px;
	}
}

/*Media queries - Header*/
@media (max-width: 500px){
	.header__img{
		width: 156px;
	}
	.header__bottons{
		grid-template-columns: max-content;
		grid-template-rows: repeat(2, max-content);
		grid-column-gap: 0;
		grid-row-gap: 10px;
	}
	.header__logoutItem{
		max-width: 400px;
		min-width: 180px;
	}
	.header__cienciaItem{
		font-size: 14px;
	}
	.header__title{
		font-size: 25px;
	}
}


/*Media queries - tab*/
@media (max-width: 700px){
	.tab{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, max-content);
		column-gap: 0;
		grid-row-gap: 25px;
		padding: 0 25px;
	}
	.tab__img--reverse{
		order: 0;
	}
	.tab__information{}
	.tab__information{
		margin: auto;
		display: grid;
		grid-template-columns: minmax(100px, 1fr);
		grid-template-rows: repeat(2, max-content);
		grid-row-gap: 15px;
		max-width: 500px;
		padding: 0 25px;
	}
	.tab__title{
		text-align: center;
	}
	.tab__description{
		text-align: justify;
	}
	.tab__img{
		margin: auto;
	}
}


/*Media queries - love-middle*/
@media (max-width: 700px){
	.love-middle{
		grid-template-areas: 
		"title"
		"img"
		"efectivo"
		"motivado"
		"sencillo"
		"divertido";
	}
	.love-middle__img{
		margin: auto;
		width: 165px;
	}
	.love-middle__information{
		margin: auto;
	}

	.love-middle__titleMain{
		margin-bottom: 30px;
		width: 100%;
		padding: 0 25px;
	}
}

/*Media queries - header__science*/
@media (max-width: 400px){
	.header__scienceContainer{
		display: grid;
		background: var(--light);
		grid-template-columns: repeat(3, max-content);
		justify-content: center;
		align-items: center;
		grid-column-gap: 10px;
	}
	.header__scienceItem{
		font-size: 16px;
		color: var(--primary);
		padding: 10px;
	}
	.header__scienceItem i{
		margin-right: 2px;
	}	
}

.content-data{
	width: 100%;
	row-gap: 20px;
	display: flex;
	flex-flow: column;
}
.data-view{
	min-width: min(100%, 800px);
	padding: 10px;
	display: flex;
	flex-flow: column;
	background: var(--light);
	border-radius: 3px;
	align-items: center;
}
.data-view__title{
	font-size: 18px;
	text-align: center;
}



/*Teacher - Home*/
.teach{
	display: grid;
	grid-template-areas: 
	"img description description"
	"img card boxButtoms";
	justify-content: center;
	align-items: center;
	width: 90%;
	margin: auto;
	column-gap: 20px;
}
.teach--inversed{
	grid-template-areas: 
	"description description img"
	"card boxButtoms img";
}
.teach__img{
	grid-area: img;
	display: block;
	width: 500px;
	border-radius: 10px;
}
.teach-description{
	padding: 20px;
	border-radius: 10px;
	background: var(--light);
	grid-area: description;
	height: 200px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	row-gap: 10px;	
}
.teach-description--colored{
	background: var(--primary);
	height: 100px;
}
.teach-description--colored h2,
.teach-description--colored i{
	color: var(--light);
}

.teach-description__subtitle{
	color: var(--primary);
	font-size: 18px;
}
.teach-description__text, .teach-course__text{
	text-align: justify;
	width: 95%;
}
.teach-card{
	border-radius: 10px;
	background: var(--light);
	grid-area: card;
	height: 220px;
	padding: 20px;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	row-gap: 10px;
}
.teach-course__title{
	color: var(--primary);
}
.box-bottoms{
	padding: 20px;
	height: 220px;
	border-radius: 10px;
	background: var(--light);
	grid-area: boxButtoms;
	row-gap: 10px;
	display: flex;
	flex-flow: column;
	row-gap: 20px;
	align-items: center;
	justify-content: center;
}

/*Media queries - Teacher Home*/
@media (max-width: 1270px){
	.teach{
		grid-template-areas: 
		"description description"
		"img card"
		"img boxButtoms";
		row-gap: 20px;
	}
	.teach--inversed{
		grid-template-areas: 
		"description description"
		"img img"
		"card boxButtoms";
	}
}

@media (max-width: 1000px){
	.teach{
		grid-template-areas: 
		"description description"
		"card boxButtoms"
		"img img";
		row-gap: 20px;
		justify-items: center;
	}
	.teach--inversed{
		grid-template-areas: 
		"description description"
		"img img"
		"card boxButtoms";
		justify-items: inherit;
	}
}
@media (max-width: 650px){
	.teach{
		grid-template-areas: 
		"description"
		"img"
		"card"
		"boxButtoms";
		row-gap: 20px;
		justify-items: center;
	}
	.teach--inversed{
		grid-template-areas: 
		"description description"
		"img img"
		"card boxButtoms";
		justify-items: inherit;
	}
	.box-bottoms{
		background: transparent;
		width: 100%;
	}
	.teach__img{
		width: 100%;
	}
}
@media (max-width: 450px){
	.teach--inversed{
		grid-template-areas: 
		"description"
		"img"
		"card"
		"boxButtoms";
	}
	.teach-card .list__actions{
		width: 100%;
	}
}


/*Media queries - header__loginItem*/
@media (max-width: 400px){
	.header__loginItem{
		max-width: 270px;
	}
}

/*tab__iconsDescription*/
@media (max-width: 450px){
	.tab__iconsDescription{
		flex-flow: column;
		gap: 20px;	
	}
	.tab__title--module{
		text-align: inherit;
	}
}


/*cuadricula*/
.cuadricula{
	display: grid;
	grid-template-areas: 
	"img title title"
	"img cu_left cu_right";

	justify-content: center;
	align-items: center;
	width: 90%;
	margin: auto;
	column-gap: 20px;
}

.cuadricula__img{
	grid-area: img;
	display: block;
	width: 256px;
	border-radius: 10px;
	padding: 20px;
}
.cuadricula-description{
	grid-area: title;
	background: var(--light);
	padding: 20px;
	border-radius: 10px;
}
.cuadricula-description__subtitle{
	color: var(--primary);
	font-size: 18px;
}
.cuadricula-left{
	grid-area: cu_left;
	background: var(--light);
	padding: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}
.cuadricula-right{
	grid-area: cu_right;
	background: var(--light);
	padding: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}
.cuadricula__title{
	font-size: 18px;
	text-align: center;
}

@media (max-width: 1200px){
	.cuadricula{
		grid-template-areas: 
		"title title"
		"img img"
		"cu_left cu_right";
		justify-items: center;
	}
}

/*tab__iconsDescription*/
@media (max-width: 550px){
	.cuadricula{
		grid-template-areas: 
		"title"
		"img"
		"cu_left"
		"cu_right";
		row-gap: 25px;
	}
}