/*
	COLORS: ;
	--text:#2d3436;
  	--title: #2e3440;
  	--background: #e5e9f0;
  	--primary:#27398b;
*/

/*Nav*/
.nav{
	background: white;
	width: 90%;
	margin: auto;
	display: grid;
	justify-content: space-between;
	align-items: center;
	grid-template-rows: 50px;
	grid-template-columns: repeat(2, max-content);
	padding: 5px 50px;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 0 10px rgba(10, 10, 10, .2);
}
.nav__home{
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(2, max-content);
}
.nav__logo{
	object-fit: cover;
	display: block;
	height: 50px;
}
.nav__menu{
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(4, max-content);
	column-gap: 10px;
}
.nav__item{
	column-gap: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 8px;
	border-bottom: 3px solid transparent;
	border-radius: 2px;
	color: var(--primary);
}
.nav__item--constrast{
	background: var(--background);
	border-bottom: 3px solid var(--primary);
}
.nav__item:hover{
	transition: all ease .5s;
	border-bottom: 3px solid var(--primary);
}



/*Media queries*/
@media (max-width: 700px){
	.nav{
		width: 100%;
		padding: 5px 25px 5px 10px;
	}
}
/*Media queries*/
@media (max-width: 550px){
  	.nav__title{
		font-size: 20px;
	}
	.nav__item p{
		display: none;
	}
}


/*Submenu*/
.submenu{
    position: relative;
    top: 75px;
    left: -15px;
    z-index: 10;
    display: none;
    transition: .5s all;
    animation: moverIzquierda .5s;
}

.nav__item--menu:hover .submenu{
    display: flex;
    flex-wrap: wrap;
    background: var(--primary);
    border-radius: 3px;
    width: 150px;
}

.submenu__item{
    width: 100%;
    text-align: center;
}
.submenu__item:hover{
    background: var(--secondary);
}
nav .submenu li{
    line-height: 40px;
    color: var(--light);
}
.menuMenu{
	width: 10px;
	position: absolute;
}