.sheetWindows{
	width: 100%;
	min-height: 100%;
	background: rgba(10, 10, 10, .5);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-content: center;
	z-index: 10;
}
.sheetWindows--hidden{
	display: none;
}
.windows{
	background: var(--light);
	width: min(80%, 600px);
	margin: auto;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(10, 10, 10, .2);
	display: flex;
	flex-flow: column;
	transition: all .5s;
	animation: moverIzquierda .5s;
}
.windows__message{
	padding: 0 50px 50px 50px;
	display: flex;
	flex-flow: column;
	row-gap: 30px;
}
.windows__title{
	text-align: center;
	padding: 0 10px;
}
.closeText{
	cursor: pointer;
	padding: 0 10px;
	font-size: 20px;
	align-self: flex-end;
}
.windows__cancel, .windows__confirm{
	cursor: pointer;
}

.iconTitle{
	text-align: center;
	font-size: 70px;
}
.iconTitle--danger{
	color: var(--danger);
}