/*Iconos de accion*/
.icon{
	width: min(100%, 100px);
	font-size: 16px;
	padding: 5px;
	margin-top: 5px;
	border-radius: 3px;
	text-align: center;
}
.icon--show{
	border: 1px solid var(--primary);
	color: var(--primary);
}
.icon--edit{
	border: 1px solid var(--tertiary);
	color: var(--tertiary);
}
.icon--delete{
	border: 1px solid var(--danger);
	color: var(--danger);
	cursor: pointer;
	background: transparent;
}

.icon--show:hover{
	background: var(--primary);
	border: 1px solid var(--light);
	color: var(--light);
	transition: all .5s;
}
.icon--edit:hover{
	background: var(--tertiary);
	border: 1px solid var(--light);
	color: var(--light);
	transition: all .5s;
}
.icon--delete:hover{
	background: var(--danger);
	border: 1px solid var(--light);
	color: var(--light);
	transition: all .5s;
}

.icon--repeat{
	background: var(--tertiary);
	color: var(--light);
	border: 1px solid var(--tertiary);
}

.icon--lock{
	color: var(--littleDark);
}

/*Table*/
.list{
	width: 95%;
	margin: 30px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 20px;
	column-gap: 20px;
}
.list__card{
	padding: 20px 20px;
	display: flex;
	flex-flow: column;
	row-gap: 10px;
	background: var(--light);
	border-radius: 2px;
	box-shadow: 0 0 10px rgba(10, 10, 10, .2);
	position: relative;
}
.list__description{
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
}
.list__actions{
	display: flex;
	justify-content: center;
	column-gap: 10px;
	width: 320px;
}
.list__text{
	text-align: center;
	width: 100%;
	margin: 5px 0;
}
.list__text b{
	color: black;
}
.list__text--id{
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	padding: 10px;
}

/*Media queries - Globales*/
@media (max-width: 500px){
	.list__text--title{
		font-size: 16px;
	}
	.icon{
		width: min(100%, 90px);
		font-size: 14px;
	}
}

/*Media queries - Globales*/
@media (max-width: 380px){
	.list{
		width: 100%;
		column-gap: 0;
	}
	.list__card{
		width: 98%;
		margin: auto;
	}
}

/*Media queries - Globales*/
@media (max-width: 330px){
	.list{
		width: 100%;
		column-gap: 0;
	}
	.list__card{
		padding: 20px 0;
		width: 95%;
		margin: auto;
	}

	.list__actions{
		display: flex;
		justify-content: center;
		column-gap: 5px;
		width: 320px;
	}
}